/* 1.Base Styles */

html {
  background-color: #353535;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

/* 2.Shared Styles */

.container {
  width: 85%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1600px) {
  .container {
    width: 100% !important;
  }
}

.wallpaper {
  display: block;
  min-height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.job,
.button {
  font-family: "Montserrat", "Quicksand", sans-serif;
  letter-spacing: .3em;
  text-transform: uppercase;
}

.button,
.social a {
  transform-origin: center;
  transition-duration: .2s;
}

.social {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
}

.grey-background {
  background: #f9f6f6;
}

/* 3.Specific Styles */

.wallpaper {
  background-image: url("../images/background-min.jpg") !important;
  background-position: center;
  background-size: cover;
  opacity: .2;
  position: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.top {
  font-size: 15rem;
  margin-bottom: 35px;
  max-height: 20rem;
  max-width: 20rem;
}

.top i {
  opacity: 1;
}

.top .picture {
  display: flex;
  height: 100%;
  justify-content: center;
}

.about {
  min-width: 26rem;
  text-align: center;
}

.name {
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: .5rem;
}

.job {
  color: #fedd56;
  font-size: .75rem;
}

.hr {
  background-color: #fedd56;
  border: none;
  content: "";
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact {
  display: inline-block;
  margin-top: 1.5rem;
  vertical-align: top;
}

.button {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid #fedd56;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: white;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25em 2em;
  position: relative;
  text-shadow: none;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.button:hover {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transform: scale(1.02) translateY(-4px);
}

.button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: scale(0.98) translateY(-2px);
}

.button .tooltip-text {
  background-color: #fedd56;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  bottom: 120%;
  color: hsl(0, 0%, 21%);
  font-size: 16px !important;
  letter-spacing: 0;
  left: 50%;
  transition: opacity 0.3s;
  margin-left: -110px;
  opacity: 0;
  padding: 6px 0;
  position: absolute;
  text-transform: none;
  text-align: center;
  visibility: hidden;
  width: 220px;
}

.button .tooltip-text::after{
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fedd56 transparent transparent transparent;
}

.button:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.social li {
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}

.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;
  opacity: .5;
  transition-property: opacity, transform;
  user-select: none;
  width: 2rem;
  will-change: opacity, transform;
}

.social a:hover {
  opacity: 1;
  transform: scale(1.25);
}

.social a:active {
  opacity: 1;
  transform: scale(1.1);
}

.arrow-down {
  bottom: 30px;
  position: absolute;
}

.arrow-down i {
  cursor: pointer;
  font-size: 2rem;
  opacity: .7;
  padding: 5px;
  transition-duration: .3s;
  transition-property: opacity, transform;
  user-select: none;
  will-change: opacity, transform;
}

.arrow-down i:hover {
  opacity: 1;
  transform: scale(1.25);
}

.arrow-down i:active {
  opacity: 1;
  transform: scale(1.1);
}

.web-development {
  background: #f9f6f6;
  color: #353535;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 64px;
  position: relative;
}

.web-development h2 {
  font-size: 2.2em;
  font-weight: 500;
  margin-bottom: 25px;
}

.web-development-description {
  color: #8b8c8d;
  font-size: 1.2rem;
}

.skills {
  background-image: radial-gradient(circle, #D7D7D7, #D7D7D7 1px, #FFF 1px, #FFF);
  background-size: 28px 28px;
  color: #353535;
  display: flex;
  justify-content: center;
  min-height: 15vh;
  padding: 64px;
  position: relative;
}

.skills-content {
  min-width: 26rem;
  text-align: center;
}

.skills-content .title {
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}

.skills-content .subtitle {
  font-size: 1.5rem;
  line-height: 1.125;
  margin-bottom: .5rem;
}

/* 4.Responsiveness */

@media screen and (max-width: 799px) {
  .content,
  .skills {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .skills {
    padding: 4rem 0;
  }

  .top {
    margin-bottom: 3rem;
    font-size: 10rem;
    width: 100%;
  }

  .about,
  .skills-content {
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    min-width: 0;
  }
}

@media screen and (min-width: 800px) {
  .content,
  .skills {
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 4rem;
  }

  .top {
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
  }
  
  .about,
  .skills-content {
    flex-grow: 1;
    flex-shrink: 1;
  }
}